<div>
    <div class="jumbotron text-center">
        <h1>Enter the best team in Ultrapark II</h1>
        <p class="lead">Register to Cheetah Soccer and be part of weekly soccer games with your coworkers!</p>
        <div>
            <a href="#!" class="btn btn-primary btn-lg" aria-label="Register Now to Enter the Cheetah Soccer team">Register Now</a>
        </div>
    </div>
    <div class="row index-cols">
        <div class="col-md-4 text-center order-lg-0">
            <h2><a href="#!" class="nav-link" aria-label="Register Now to Enter the Cheetah Soccer team">MEET THE PLAYERS</a></h2>
            <p>
                See who is part of our unbeaten team. You might be surprised.
            </p>
        </div>
        <div class="col-md-4 text-center order-lg-2">
            <h2><a href="#!" class="nav-link" aria-label="Register Now to Enter the Cheetah Soccer team">UPCOMING GAMES</a></h2>
            <p>
                Already registered? Check upcoming games, and enter the roster!
            </p>
        </div>
        <div class="col-md-4 cheetah-one-logo order-lg-1"></div>
    </div>
</div>