<div>
    <h1>Cheetah Soccer Players</h1>
</div>
<div class="row index-cols">
    <div class="col-md-3">
        <p>Filter By Name:<br><input type="text" ng-model="searchByName"></p>
    </div>
    <div class="col-md-3">
        <p>Filter By Last Name:<br><input type="text" ng-model="searchByLastName"></p>
    </div>
    <div class="col-md-3">
        <p>Filter By Email:<br><input type="text" ng-model="searchByEmail"></p>
    </div>
    <div class="col-md-3">
        <p>Filter By Field Position:<br><input type="text" ng-model="searchByPosition"></p>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Field Position</th>
            <th scope="col">Strong Foot</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in ctrl.allPlayers | orderBy: 'FirstName' |
            filter:searchByName | filter:searchByLastName | filter:searchByEmail|
            filter:searchByPosition" ng-click="ctrl.edit(player)">
            <td>{{player.FirstName}}</td>
            <td>{{player.LastName}}</td>
            <td>{{player.Email}}</td>
            <td>{{player.FieldPosition}}</td>
            <td>{{player.StrongFoot}}</td>
        </tr>
    </tbody>
</table>
<fieldset>
    <button ng-click="ctrl.back()" type="button" class="btn btn-info float-right">Back</button>
</fieldset>
